.main {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.menu-btn {
    width: 5%;
    height: auto;
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 32;
}

.chat-container {
    flex: auto;
    width: 80%;
    height: 100%;
    background: #fff;
    font-size: 4rem;
    position: relative;

    form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 2%;
        right: 1.5%;
        height: 6%;
        width: 77%;

        input {
            font-size: 1.8rem;
            box-sizing: border-box;
            width: 85%;
            height: 100%;
            padding-left: 2%;
            border-radius: 6px;
            border: 1px solid #000;

            &:focus {
                outline: none;
                border-color: rgb(0, 47, 134);
            }
        }
        button {
            font-size: 2rem;
            box-sizing: border-box;
            width: 10%;
            height: 100%;
            outline: none;
            border-radius: 6px;
            border: 1px solid black;
            background: #278ea5;
            color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            img {
                width: 25%;
            }

            &:hover {
                background: #fff;
                color: #278ea5;
                border-color: #278ea5;
            }
        }
    }

    .top-chat {
        background: #fff;
        height: 7vh;
        width: 100%;
        border-bottom: 1px solid #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0;
        right: 0;
        z-index: 20;

        .group-name {
            font-size: 2.4rem;
            text-align: center;
            position: relative;
            left: 1%;
        }
        .option-wrapper {
            width: 5%;
            height: 100%;
            position: relative;

            .three-dot {
                background: rgb(255, 255, 255);
                box-sizing: border-box;
                height: 68%;
                padding: 0.7rem;
                border-radius: 50%;
                border: 1px solid rgb(143, 143, 143);
                position: absolute;
                right: 20%;
                top: 18%;
                &:hover {
                    background: rgb(143, 143, 143);
                }
            }

            .active {
                background: rgb(219, 219, 219);
            }
            .option {
                background: rgb(255, 255, 255);
                width: 15vw;
                position: absolute;
                top: 100%;
                right: 20%;
                display: flex;
                flex-direction: column;
                border: 1px solid rgb(180, 180, 180);
                border-top-color: #278ea5;
                border-radius: 3px;
                button {
                    border: none;
                    height: 7vh;
                    width: 100%;
                    padding-left: 10%;
                    outline: none;
                    background: none;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &:hover {
                        background: rgb(219, 219, 219);
                    }

                    span:first-child {
                        margin-right: 7%;
                    }

                    span:last-child {
                        display: contents;

                        img {
                            width: 8%;
                        }
                    }
                }
            }
        }
    }

    .flex-end {
        justify-content: flex-end;
    }
}

ul {
    list-style: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    z-index: 25;
    .modal-content {
        position: relative;
        top: 18%;
        width: 30%;
        height: 25vh;
        border-radius: 3px;
        display: flex;
    }
    .spinner {
        position: absolute;
        height: 15%;
    }
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
