.messages-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 84vh;
    width: 100%;
    position: absolute;
    bottom: 9vh;
    right: 0;
    padding: 3%;
    margin: 0;
    overflow-y: scroll;
    li {
        font-size: 2rem;
        border-radius: 2.5rem;
        padding: 0.5rem 1.2rem;
        color: #fff;
        &:not(:last-child) {
            margin-bottom: 2.5%;
        }
    }
    .blue {
        align-self: flex-end;
        background: #348cff;
        color: #fff;
    }
    .gray {
        align-self: flex-start;
        background: rgb(192, 192, 192);
        color: #000;
    }
}

.tooltip {
    position: relative;
    display: inline-block;

    &:hover .tooltiptext {
        visibility: visible;
    }

    .tooltiptext {
        box-sizing: border-box;
        font-size: 1.8rem;
        visibility: hidden;
        width: 8rem;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 0.5rem 0;
        position: absolute;
        right: 7%;
        z-index: 15;
    }
}
