.modal-content {
    height: 25vh;
    justify-content: center;
    form {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 4.2rem;

        label {
            color: #278ea5;
            font-size: 2rem;
            display: inline-block;
        }

        .select-wrapper {
            width: 46%;
            font-size: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #278ea5;
            select {
                font-size: 1.6rem;
                height: 100%;
                border-radius: 3px;
                option {
                    height: 100%;
                }
            }
        }

        .input-control {
            height: 20%;

            .error {
                color: red;
                font-size: 1.4rem;
                margin-left: 1rem;
            }

            input[type="text"] {
                letter-spacing: 0.1rem;
                font-size: 1.6rem;
                width: 100%;
                height: 100%;
                border-radius: 3px;
                outline: none;
                border: 1px solid black;
                padding-left: 1rem;
            }
        }

        .btn-wrapper {
            display: flex;
            justify-content: space-around;
            height: 18%;

            .submit-btn,
            .cancel-btn {
                width: 30%;
                height: 100%;
                font-size: 1.6rem;
                border-radius: 3px;
            }

            .submit-btn {
                background: #278ea5;
                color: #fff;
                border: 1px solid #fff;
                &:hover {
                    background: #fff;
                    color: #278ea5;
                    border-color: #278ea5;
                }
            }

            .cancel-btn {
                border: 1px solid #6b6b6b;
                background: #fff;
                &:hover {
                    background: #d4d3d3;
                }
            }
        }
    }
}
