.modal-content {
    height: 25vh;
    justify-content: center;
    form {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 4.2rem;

        label {
            color: #0282d9;
            font-size: 2rem;
            display: inline-block;
        }
        .input-control {
            height: 20%;
            input[type="text"] {
                letter-spacing: 0.1rem;
                font-size: 1.6rem;
                width: 100%;
                height: 100%;
                border-radius: 3px;
                outline: none;
                border: 1px solid black;
                padding-left: 1rem;
            }
        }

        .btn-wrapper {
            display: flex;
            justify-content: space-around;
            height: 18%;
            button {
                width: 30%;
                height: 100%;
                font-size: 1.6rem;
                border-radius: 3px;

                &[type="submit"] {
                    background: #0282d9;
                    color: #fff;
                    border: 1px solid #fff;
                    &:hover {
                        background: #fff;
                        color: #0282d9;
                    }
                }

                &[type="button"] {
                    border: 1px solid #6b6b6b;
                    background: #fff;
                    &:hover {
                        background: #d4d3d3;
                    }
                }
            }
        }
    }
}