.side-bar {
    animation: moveLeftToRight 0.2s;
    width: 20%;
    height: 100%;
    background: #071e3d;
    position: relative;

    .main-loading {
        width: 35%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .side-bar-content {
        .top-side-bar {
            height: 7vh;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .title {
                font-size: 2.3rem;
                color: #fff;
            }

            .create-new-group,
            .back-to-home {
                background: none;
                outline: none;
                box-shadow: none;
                border: none;
                font-size: 2.4rem;
                text-align: right;
                position: relative;
            }

            .back-to-home {
                width: 10%;

                .tooltiptext {
                    left: 0;
                    top: 100%;
                    width: 12rem;
                }
            }

            .create-new-group {
                width: 14%;

                .plus-icon {
                    width: 100%;
                    height: auto;
                }

                .tooltiptext {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    width: 11rem;
                    padding: 0.7rem 0;
                }
            }
        }

        .group-list {
            padding: 5% 0;
            .group-item {
                display: flex;
                justify-content: space-between;
                margin: 0 5%;
                padding: 2%;
                color: #fff;
                font-size: 2rem;
                cursor: pointer;

                &:not(:last-child) {
                    margin-bottom: 2%;
                }

                .tooltiptext {
                    width: 7rem;
                }
            }
            .highlight {
                background: #278ea5;
            }
        }

        .tooltip {
            position: relative;
            display: inline-block;

            &:hover .tooltiptext {
                visibility: visible;
            }

            .tooltiptext {
                box-sizing: border-box;
                font-size: 1.6rem;
                visibility: hidden;
                background-color: rgb(129, 129, 129);
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 0.5rem 0;
                position: absolute;
                right: 7%;
                z-index: 15;
            }
        }
    }
}
