.main {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.main-loading {
    width: 7%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.delete-spinner {
    width: 5%;
    position: absolute;
    top: 15%;
    left: 7.5%;
    z-index: 16;
}

.overlay {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.side-bar {
    animation: moveLeftToRight 0.5s;
    width: 20%;
    height: 100%;
    background: rgb(0, 47, 134);
    overflow: auto;
    position: relative;

    .top-side-bar {
        height: 7vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .title {
            font-size: 2.3rem;
            color: #fff;
        }
        .create-new-group {
            cursor: pointer;
            width: 14%;
            background: none;
            color: #fff;
            outline: none;
            box-shadow: none;
            border: none;
            font-size: 2rem;
            text-align: right;
            position: relative;
            &:hover {
                color: rgb(0, 47, 134);
            }
            .plus-icon {
                width: 100%;
                height: auto;
            }
            .tooltiptext {
                font-size: 1.6rem;
                position: absolute;
                top: 100%;
                width: 11rem;
                padding: 1rem 0;
            }
        }
    }

    .group-list {
        padding: 5% 0;
        .group-item {
            display: flex;
            justify-content: space-between;
            margin: 0 5%;
            padding: 2%;
            color: #fff;
            font-size: 1.8rem;
            cursor: pointer;

            &:not(:last-child) {
                margin-bottom: 2%;
            }
        }
        .highlight {
            background: rgb(255, 177, 33);
        }
    }
}

.chat-container {
    flex: auto;
    width: 80%;
    height: 100%;
    background: #fff;
    font-size: 4rem;
    overflow: auto;
    position: relative;

    form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 2%;
        height: 6.5%;
        width: 80%;

        input {
            font-size: 1.8rem;
            box-sizing: border-box;
            width: 85%;
            height: 100%;
            padding-left: 2%;
            border-radius: 6px;
            border: 1px solid #000;

            &:focus {
                outline: none;
                border-color: rgb(0, 47, 134);
            }
        }
        button {
            font-size: 2rem;
            box-sizing: border-box;
            width: 10%;
            height: 100%;
            outline: none;
            border-radius: 6px;
            border: none;
            background: #fff;
            border: 1px solid rgb(0, 47, 134);
            color: black;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            img {
                width: 25%;
            }

            &:hover {
                background: rgb(0, 47, 134);
                color: #fff;
            }
        }
    }

    .top-chat {
        height: 7vh;
        width: 80%;
        border-bottom: 1px solid #000;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;

        .group-name {
            font-size: 2.4rem;
            text-align: center;
            position: relative;
            left: 1%;
        }
        .option-wrapper {
            width: 5%;
            height: 100%;
            position: relative;

            .three-dot {
                background: rgb(255, 255, 255);
                box-sizing: border-box;
                height: 68%;
                padding: 0.7rem;
                border-radius: 50%;
                border: 1px solid rgb(143, 143, 143);
                position: absolute;
                right: 20%;
                top: 18%;
            }
            .option {
                background: rgb(255, 255, 255);
                width: 15vw;
                position: absolute;
                top: 100%;
                right: 20%;
                display: flex;
                flex-direction: column;
                border: 1px solid rgb(180, 180, 180);
                border-top-color: rgb(255, 177, 33);
                border-radius: 3px;
                button {
                    border: none;
                    height: 7vh;
                    width: 100%;
                    padding-left: 10%;
                    outline: none;
                    background: none;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &:hover {
                        background: rgb(219, 219, 219);
                    }

                    span:first-child {
                        margin-right: 7%;
                    }

                    span:last-child {
                        display: contents;

                        img {
                            width: 8%;
                        }
                    }
                }
            }
        }
    }

    .messages-container {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 84vh;
        width: 100%;
        position: absolute;
        bottom: 9vh;
        right: 0;
        padding: 3%;
        margin: 0;
        overflow-y: scroll;
        li {
            font-size: 2rem;
            border-radius: 2.5rem;
            padding: 0.5rem 1.2rem;
            color: #fff;
            &:not(:last-child) {
                margin-bottom: 2.5%;
            }
        }
        .blue {
            align-self: flex-end;
            background: #348cff;
            color: #fff;
        }
        .gray {
            align-self: flex-start;
            background: rgb(192, 192, 192);
            color: #000;
        }
    }
    .flex-end {
        justify-content: flex-end;
    }
}

ul {
    list-style: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    .modal-content {
        position: relative;
        top: 20%;
        width: 30%;
        height: 25vh;
        border-radius: 3px;
        display: flex;
    }
    .spinner {
        position: absolute;
        height: 15%;
    }
}

.tooltip {
    position: relative;
    display: inline-block;

    &:hover .tooltiptext {
        visibility: visible;
    }

    .tooltiptext {
        box-sizing: border-box;
        font-size: 1.8rem;
        visibility: hidden;
        width: 8rem;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 0.5rem 0;
        position: absolute;
        right: 7%;
        z-index: 15;
    }
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
