.homepage {
    .sidebar {
        width: 24%;
        height: 100%;
        position: sticky;

        .info-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            .name {
                font-size: 2rem;
            }
        }
    }
}